.body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar .active,
  .sidebar .item  {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar .active {
    background-color: #1992ca;
    color: white;
  }
  
  .sidebar .item:hover:not(.active) {
    background: linear-gradient(0, rgba(93, 216, 212, 0.5), rgba(185, 210, 131, 0)), rgba(89, 164, 218, 0.425);
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar .active,
    .sidebar .item {float: left;}
    .body .content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar .active,
    .sidebar .item {
      text-align: center;
      float: none;
    }
  }


// .wrapper {
//    display: flex;
//    flex-flow: row wrap;
//    text-align: center;
// }

// .wrapper > * {
//     padding: 10px;
//     margin: 1px;
//     flex: 1 100%;
//     border-radius: 10px;
// }

// .header {
//     background: tomato;
//     height: 120px;
// }

// .footer {
//     background: lightblue;
//     height: 80px;
// }

// .main {
//     text-align: left;
//     background: rgb(255, 255, 255);
//     height: 70%;
//     font-size: 24px;
// }

// .aside1 {
//     background: rgb(178, 200, 206);
// }

// .aside2 {
//     background: dodgerblue;
// }

// @media all and (min-width: 700px) {
//     .main{
//         flex: 3;
//     }
    
//     .aside1 {
//         order: 1;
//     }

//     .aside2 {   
//         order: 3;
//     }

//     .main {
//         order: 2;
//     }

//     .footer {
//         order: 4;
//     }
// }

// @media all and (min-width: 400px) {
//     .aside {
//         flex: 1;
//     }
// }