.search_user {
    border: 1px solid rgb(56, 226, 18);
    width: 400px; 
    margin: 20px 0px 30px 100px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
  }
  
.search_user .label-search_user {
    padding: 10px 0;
    font-size: 20px;
  }

.styled-table{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.btn {
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: #008cba;
}

.btn-delete {
    background-color: #f44336;
}

.btn-view {
    background-color: #e7e7e7;
    color: black;
}

.btn-add {
    background-color: #e82764;
    margin-bottom: 10px;
}

.add-icon {
    color:rgb(179, 84, 16);
}

.add-icon:hover {
    color:rgb(16, 70, 179);
}

.edit-icon {
    color:rgb(20, 110, 220);
}

.edit-icon:hover {
    color:rgb(190, 220, 20);
}

.delete-icon {
    margin: 0 20px;
    cursor: pointer;
    color:rgb(0, 0, 0);
}

.delete-icon:hover {
    color:rgb(220, 20, 20);
}

.view-icon {
    color:rgb(190, 220, 20);
}

.view-icon:hover {
    color:rgb(20, 117, 220);
}

.table {
    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Approved {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.Pending {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
    }
  }
  
  
  