.add-icon {
    color:rgb(179, 84, 16);
}

.add-icon:hover {
    color:rgb(16, 70, 179);
}

.edit-icon {
    color:rgb(20, 110, 220);
}

.edit-icon:hover {
    color:rgb(190, 220, 20);
}

.delete-icon {
    margin: 0 20px;
    cursor: pointer;
    color:rgb(0, 0, 0);
}

.delete-icon:hover {
    color:rgb(220, 20, 20);
}

.view-icon {
    color:rgb(190, 220, 20);
}

.view-icon:hover {
    color:rgb(20, 117, 220);
}