/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');

  //Form editlt
  
  .body {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: #4070f4;
}

.header {
    text-align: left;
}

.label {
    text-align: left;
}

.container-editlt {
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container-editlt header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container-editlt header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}

.container-editlt .form-all {
    position: relative;
    margin-top: 16px;
    min-height: 500px;
    background-color: #fff;
    overflow: auto;
}

.container-editlt .form-all .form-editlt {
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

.container-editlt .form-all .form-editlt.second-editlt {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

.form-all.secActive .form-editlt.second-editlt {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.form-all.secActive .form-editlt.first-editlt {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container-editlt .form-all .title-editlt {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
    text-align: left;
}

.container-editlt .form-all .fields-editlt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-all .fields-editlt .input-field-editlt {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field-editlt label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field-editlt input,
select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-content {
    width: 900px;
}

.input-field-editlt input :focus,
.input-field-editlt select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field-editlt select,
.input-field-editlt input[type="date"] {
    color: #707070;
}

.input-field-editlt input[type="date"]:valid {
    color: #333;
}

.container-editlt .form-all button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}

.backBtn {
    background-color: #8fa1d4;
    text-decoration-line: none;
}

.container-editlt .form-all .btnText {
    font-size: 14px;
    font-weight: 400;
}

.form-all button:hover {
    background-color: #1fdb25;
}

.form-all button i,
.form-all .backBtn i {
    margin: 0 6px;
}

.form-all .backBtn i {
    transform: rotate(180deg);
}

.form-all .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-all .buttons button,
.backBtn {
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container-editlt .form-all {
        overflow-y: scroll;
    }

    .container-editlt .form-all::-webkit-scrollbar {
        display: none;
    }

    .form-all .fields-editlt .input-field-editlt {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    .form-all .fields-editlt .input-field-editlt {
        width: 100%;
    }
}